<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="btn-back no-background" (click)="toHome()">
      <ion-img class="IMG-DUOC" src="assets/imagenes/logo_duoc.png"></ion-img>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-footer>

  <ion-toolbar>
    <div class="copyright">© {{ currentYear }} Derechos reservados por ACE CORPORATION</div>
  </ion-toolbar>
</ion-footer>

<ion-content class="ion-padding"> Bienvenido Nuevamente {{mensaje}}.</ion-content>
  <ion-button (click)="verStorage">Ver Datos Storage</ion-button>
  <ion-button [routerLink]="['/usuarios']" >
    Ver Usuarios
  </ion-button>
